@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.text-primary{
    color: limegreen;
}

.btn-primary{

    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    padding: 0 15px;
    cursor: pointer;
    
}

.btn-primary:hover{
    background-color: rgb(5, 153, 5);
    color: aliceblue;


}

.btn-secondary{
    background-color: white;
    color: #32cd32;
    border: 1px solid #32cd32;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    padding: 0 15px;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: #32cd32;
    color: white;
    border: none;
    margin-left: 10px;

}

section{
    margin-top: 130px;
}

/* Header nad nav */

.header{

    background: #fff8f3 ;
    background-image: url(./images/header_bg.png),url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    height: 900px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 100px 50px ;
}
.nav-title{

    font-size: 30px;

}



nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
    
}

nav li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.911);
}

/* banner */

.banner{
    display: flex;
    align-items: center;
    margin: 0 220px;
}

.b-title{
    font-size: 25px;
}

.b-subTitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}

.b-description{
    color: rgba(31, 29, 29, 0.966);
    font-size: 18px;
    margin-bottom: 30px;
    
}

.hero-img{
    width: 500px;
    margin-right: -270px;
    margin-top: 241px;
}
/* main */
 
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About */

.about{

    /* margin-top: 130px; */
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    justify-content: space-around;

}

.section-title{
    font-size: 35px ;
    margin-bottom: 55px;
    text-align: center;

}

.section-description{

    color: #757575 ;
    font-size: 18px;
    margin-bottom: 30px;

}

table{
    margin: 0 auto;
    
}

table,td,tr{
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
   
}

thead td{
    font-weight: 450;
    color: #757575;
    
}

tbody td{
    font-weight: 660;
    
}


/* What i do */

/* .my-skills{

    margin-top: 130px;
    margin-bottom: 40px;

} */

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background-color: #ffffff;
    box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 80px;
}

.skill:hover{
    background-color: #ffffff;
    box-shadow: 0px 6px 30px rgba(0,0,0,0.06);
    border-radius: 10px;
    padding: 25px;
}

.skill-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.skill-description{
    color: #757575;

}

/* Resume */

.resume{
    display: flex;
    justify-content: space-between;
}

.container-title{
    margin-bottom: 20px;
}

.edu{
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.233);
    
}



.experence {
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.233);

}

.resume-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Contact */

.contact{
    display: flex;
    background-color: #fff8f3;
    padding: 100px 50px;
    /* height: 300px; */
}

.contact input, textarea{
    border: 0;
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}

input{
    height: 64px;
}

.social-icon{
    margin-top: 50px;
}


form{
    margin-top: 50px;
}


/* Responsible */

