@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.text-primary{
    color: limegreen;
}

.btn-primary{

    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    padding: 0 15px;
    cursor: pointer;
    
}

.btn-primary:hover{
    background-color: rgb(5, 153, 5);
    color: aliceblue;


}

.btn-secondary{
    background-color: transparent;
    color: #32cd32;
    border: 1px solid #32cd32;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    /* padding: 0 15px; */
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: #32cd32;
    color: white;
    border: none;
   

}

section{
    margin-top: 130px;
}

/* Header nad nav */

.header{

    background: #fff8f3 ;
    background-image: url(./images/header_bg.png),url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    height: 900px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 100px 50px ;
    
}
.nav-title{

    font-size: 30px;

}



nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
    
}

nav li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.911);
}

/* banner */

.banner{
    display: flex;
    align-items: center;
    margin: 0 220px;
}

.b-title{
    font-size: 25px;
}

.b-subTitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}

.b-description{
    color: rgba(31, 29, 29, 0.966);
    font-size: 18px;
    margin-bottom: 30px;
    
}

.hero-img{
    width: 45%;
    margin-right: -270px;
    margin-top: 107px;
}
/* main */
 
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About */

.about{

    /* margin-top: 130px; */
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    justify-content: space-around;

}

.section-title{
    font-size: 35px ;
    margin-bottom: 55px;
    text-align: center;

}

.section-description{

    color: #757575 ;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
   
}



.title{
    font-weight: 600;
    color: rgb(12, 134, 12);
    margin-right: 30px;
    font-size: 18px;
    
}

.value{
    font-weight: 660;
    margin-right: 30px;
    
}


/* What i do */

/* .my-skills{

    margin-top: 130px;
    margin-bottom: 40px;

} */

.skills-container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    gap: 20px;
}

.skill{
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 80px;
}

.skill:hover{
    background-color: #ffffff;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.06);
    border-radius: 10px;
    padding: 25px;
}

.skill-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.skill-description{
    color: #757575;

}

/* Resume */

.resume{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
}

.container-title{
    margin-bottom: 20px;
}

.edu{
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.233);
    
}



.experence {
    padding: 0 0 10px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.233);

}

.resume-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Contact */

.contact{
    display: flex;
    background-color: #fff8f3;
    padding: 90px 50px;
    /* height: 300px; */
}

.contact input, textarea{
    border: 0;
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}

input{
    height: 64px;
}

.social-icon{
    margin-top: 30px;
}


form{
    margin-top: 50px;
}


/* Responsible */

@media screen and (max-width:576px) {

    .skills-container, .contact{
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
        flex-direction: column;
       
    }
    .resume{
        flex-direction: column;
        padding: 10px;
        /* display: grid;
        grid-template-columns: repeat(2,1fr); */
    }
    .container-title{
        margin-top: 30px;
    }

    .about-info{
        flex-direction: column;
    }
    .title{
        margin-top: 20px;
    }
    .about{
        padding: 30px;
    }
    .social-icon{
        margin-bottom: 20px;
    }

    .banner{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        padding: 10px;
    }
    nav ul li{
        margin-bottom: 15px;
    }
    .hero-img{
        display: none;
    }
    .header{

        background: #fff8f3 ;
        background-image: none ,url(./images/developer.png);
        background-repeat: no-repeat;
        background-position: bottom right, left;
        height: 900px;
    }

   .b-subTitle{
    font-size: 35px;
   }
   .banner{
    margin: 0 150px;
   }
   .btns{
    display: flex;
    gap: 20px;
   }

   .first, .second{
    height: 50px;
    

   }
    
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .hero-img{
        display: none;
    }
    
}

